---
layout: default
---
<script src="https://kit.fontawesome.com/2e5c0949cc.js" crossorigin="anonymous"></script>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }} </h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        <!-- Tag display -->
        <div class="tags">
        {%- if post.categories contains "problem" -%}
            <i class="fa-solid fa-calculator"></i>
        {%- endif -%}
        {%- if post.categories contains "bio" -%}
            <i class="fa-solid fa-dna"></i>
        {%- endif -%}
        {%- if post.categories contains "math" -%}
            <i class="fa-solid fa-calculator"></i>
        {%- endif -%}
        {%- if post.categories contains "code" -%}
            <i class="fa-solid fa-code"></i>
        {%- endif -%}
        {%- if post.categories contains "book" -%}
            <i class="fa-solid fa-book"></i>
        {%- endif -%}
        {%- if post.categories contains "chess" -%}
            <i class="fa-solid fa-chess"></i>
        {%- endif -%}
        {%- if post.categories contains "animation" -%}
            <i class="fa-solid fa-clapperboard"></i>
        {%- endif -%}
        {%- if post.categories contains "game" -%}
            <i class="fa-solid fa-gamepad"></i>
        {%- endif -%}
        {%- if post.categories contains "love" -%}
            <i class="fa-solid fa-heart"></i>
        {%- endif -%}

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>

<script>
  // randomize
function randomize(){
var tags = document.querySelectorAll('.tags');
  for (var tag = 0; tag < tags.length; tag++){
    for (var i = tags[tag].children.length; i >= 0; i--) {
      tags[tag].appendChild(tags[tag].children[Math.random() * i | 0]);
    }
  }
}

  // expand
function expand(){
  var tags = document.querySelectorAll('.tags');
  for (var tag = 0; tag < tags.length; tag++){
    var titleWidth = tags[tag].previousElementSibling.clientWidth;
    var n = Math.floor(titleWidth / 25);

    var len = tags[tag].children.length;
    var goal = n - len;
    var q = Math.floor(goal / len);
    var r = goal % len;

    var initLen = tags[tag].children.length;
    for (var i = 0; i < q; i++){
      for (var j = 0; j < initLen; j++){
        var clone = tags[tag].children[j].cloneNode(true);
        tags[tag].appendChild(clone);
      }
    }
    for (var i = 1; i <= r; i++){
      var clone = tags[tag].children[i].cloneNode(true);
      tags[tag].appendChild(clone);
    }
  }
}

// recolor
function recolor(){
  var tags = document.querySelectorAll('.tags');
  for (var tag = 0; tag < tags.length; tag++){
    var len = tags[tag].children.length;
    for (var i = 0; i < len; i++){
      var amt = Math.floor((230 / len) * i) + 15;
      tags[tag].children[i].style.color = `rgb(${amt},${amt},${amt})`
    }
  }
}

  // scroll
function scrollTags(){
  var tags = document.querySelectorAll('.tags');
  for (var tag = 0; tag < tags.length; tag++){
    tags[tag].prepend(tags[tag].children[tags[tag].children.length - 1]);
  }
  recolor();
  setTimeout(() => scrollTags(), 800);
}

window.addEventListener('DOMContentLoaded', function() {
  randomize();
  expand();
  scrollTags()
});
</script>

<style>
.post-title {
    margin: 4px 0 4px 0;
    width: fit-content;
}

.tags {
    display: block;
    height: 24px;
}

i {
    width: 25px;
    position: relative;
    text-align: center;
}

</style>